// bundile bar

.bundlebar {
    padding: 10px;
    background: #EFEFEF;
    min-height: 110px;
    width: fit-content;
}
.bundlebar-listing-items {
    display: flex;
    flex-wrap: wrap;
}
.bundlebar-main {
    padding: 0px 0px;
    background: #EFEFEF;
    border-radius: 20px;
    min-height: 85px;
    font-family: "Poppins", serif;
}

.bundlebar-product-detail {
    font-size: 34px;
    font-family: "Poppins", serif;
    padding-right: 10px;
}

.bundlebar-listing-items {
    margin-top: 15px;
}

.bundlebar-product-price {
    font-size: 34px;
    font-family: "Poppins", serif;
    padding-left: 10px;
}

.bundlebar-button-price {
    margin-top: 10px;
}

.bar-button {
    background: -webkit-gradient(linear, left top, right top, from(#0A78CA), to(#8111BB)) !important;
    background: linear-gradient(90deg, #0A78CA 0%, #8111BB 100%) !important;
    color: #ffffff !important;
    border-radius: 5px !important;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    font-weight: bolder;
    margin: 0px 0px 0px;
    font-family: "Poppins", serif;
    width: 40%;
    height: 40px;
    padding: 0px !important;
}

.bundlebar-sub {
    border-right: 1px solid black;
}

.bundlebar-listing-items_text {
    font-family: "Poppins", serif;
    font-size: 10px;
}

.bundlebar-listing-items-sub {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.bundlebar-listing-items_image {
    width: 40px !important;
    min-height: 40px;
}

.bundlebar-width-left {
    width: 270px;
    border-radius: 20px 0px 0px 20px;
    border-right: solid 1px #6868684d;
    min-height: 110px;
    display: flex;
    align-items: center;
}

.bundlebar-width-right {
    width: 370px;
    border-left: solid 1px #6868684d;
    min-height: 115px;
    padding-top: 20px;
    align-items: center;
}

.bundlebar-item-price {
    font-size: 11px;
}

.cm-bundle-text {
    font-size: 15px;
    font-family: "Poppins", serif;
    margin-top: 20px;
}


// Description and title

.bundle-heading-description {
    font-family: "Poppins", serif !important;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(27, 4, 238), rgb(193, 5, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 70px;
    white-space: nowrap;
    line-height: 48px;
}

.bundle-heading-peragraph {
    font-family: "Poppins", serif !important;
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    color: rgb(31, 31, 31);
    text-align: center;
}

// Product Listing 

.bundle-product-content-main {
    min-width: 241.83px;
    min-height: 400.16px;
    background: #EFEFEF;
    border-radius: 20px;
    padding: 16px;
}

.bundle-product-content-main-non {
    min-width: 241.83px;
    min-height: 400.16px;
    background: #EFEFEF;
    border-radius: 20px;
    padding: 10px;
}

.bar-button-learn {
    background: whitesmoke;
    color: #000000 !important;
    border-radius: 5px !important;
    border: solid 1px #72727257;
    cursor: pointer;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    font-family: "Poppins", serif;
    width: 88px;
    height: 38px;
    padding: initial;
}

.bar-button-bundle {
    background: -webkit-gradient(linear, left top, right top, from(#0A78CA), to(#8111BB)) !important;
    background: linear-gradient(90deg, #0A78CA 0%, #8111BB 100%) !important;
    color: #ffffff !important;
    border-radius: 5px !important;
    cursor: pointer;
    overflow: hidden;
    border: solid 1px #72727257;
    cursor: pointer;
    overflow: hidden;
    font-size: 11px;
    font-weight: bolder;
    font-family: "Poppins", serif;
    width: 88px;
    height: 38px;
    padding: initial;
    white-space: nowrap;
}

.bundle-product-name {
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", serif;
    min-height: 66px;
    margin-top: 10px;
}

.bundlebar-bar-set {
    font-weight: 600 !important;
    font-family: "Poppins", serif;
    margin-top: 20px;
}

.bundle-product-price {
    font-size: 17px;
    font-weight: 400;
    font-family: "Poppins", serif;
}

.bundlebar-button-below-content {
    font-size: 8px;
    font-weight: 700;
    margin-right: 5px;
}

.bundle-image-center {
    display: block;
    margin-left: 35%;
    margin-top: 51%;
    height: 60px;
}

.bundle-image-center-text {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.cm-bundle-builder-wrapper {
    width: 98.6vw;
    margin-left: calc(-50vw + 50%);
    padding: 13px;
}

.row {
    margin: 10px !important;
    max-width: unset !important;
}

.product-image-bundle {
    width: 247px;
    height: 247px;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
}

.bundle-product-allignment {
    margin-bottom: 30px;
}

.product-image-bundle-img {
    width: 90%;

}

.some-class {
    display: none;
}
@media only screen and (max-width: 768px) {
    .listing-section {
      justify-content: center !important;
      overflow-x: hidden !important;
    }
    .bundle-product-content-main {
        min-width: 146.83px;
        min-height: 500.16px;
        background: #EFEFEF;
        border-radius: 20px;
        padding: 16px;
    }
    .product-image-bundle {
        width: 125px;
        height: 247px;
        display: flex;
        align-items: center;
        background-size: cover;
        justify-content: center;
    }
    .bundle-product-name {
        font-size: 15px;
        font-weight: 600;
        font-family: "Poppins", serif;
        min-height: 70px;
        margin-top: 10px;
    }
    .bar-button-learn {
        background: whitesmoke;
        color: #000000 !important;
        border-radius: 5px !important;
        border: solid 1px #72727257;
        cursor: pointer;
        overflow: hidden;
        font-size: 13px;
        font-weight: 400;
        font-family: "Poppins", serif;
        width: 85px;
        height: 42px;
        padding: initial;
        margin-bottom: 10px;
    }
    .bar-button-bundle {
        background: -webkit-gradient(linear, left top, right top, from(#0A78CA), to(#8111BB)) !important;
        background: linear-gradient(90deg, #0A78CA 0%, #8111BB 100%) !important;
        color: #ffffff !important;
        border-radius: 5px !important;
        cursor: pointer;
        overflow: hidden;
        border: solid 1px #72727257;
        cursor: pointer;
        overflow: hidden;
        font-size: 10px;
        font-weight: bolder;
        font-family: "Poppins", serif;
        width: 85px;
        height: 42px;
        padding: initial;
        white-space: nowrap;
    }
    .bundlebar-main {
        align-items: center;
    }
    .bundle-heading-description {
        font-family: "Poppins", serif !important;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        background: -webkit-linear-gradient(#1b04ee, #c105ec);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 70px;
        white-space: break-spaces;
        line-height: 48px;
    }
    .container {
        padding-left: 1px;
    }
    .bundle-product-content-button {
        display: inline-grid;
    }
    .row {
        // margin: 13px !important;
        max-width: unset !important;
        justify-content: center;
    }
  }

.test-1 {
    display: flex;
    justify-content: center;
}