.bundle-wrapper {
    width: 98.6vw;
    margin-left: calc(-50vw + 50%);
    padding: 13px;
}
.product-container{
    max-width: unset !important;
    display: flex !important; 
    flex-wrap: wrap;
}    
.main-content-box{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 1px;
    padding: 1px;
    background-color: rgba(244, 238, 238, 0.801);
    border-radius: 20px;
}
.first-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 0px;
    font-size: 34px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.second-sec{
    border-left: 1px solid green;
    border-right: 1px solid green;
    height: auto;
    margin-top: 5px;
    display: inline;
}

.third-sec{
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    float: left;
}

.product-price{
    font-size: 40px;

}

.main-button{
    background: linear-gradient(90deg, #0A78CA 0%, #8111BB 100%);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin: 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    width: 100%;
    height: 40px;
    padding: 0px;
    margin-left: 25px;
}

.main-headline-content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(270deg, #990AE2 1.67%, #1485EF 96.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 34px;
    padding-bottom: 12px;
    line-height: 33px;
    margin-top: 50px;
}

.product-list-content{
    margin: 0px;
}

.product-detail{
    background-color: #dfdfdf;
    border-radius: 20px;
    text-align: auto;
    font-size: large;
    padding: 10px;
    margin: 5px;
    width: 100%;
    
}

.product-name{

    font-size: 20px;
}

.first-button{
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    margin: 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    width: 110px;
    height: 40px;
    padding: 0px;
    margin-left: 10px;
    margin-top: 30px;
    
}

.second-button{
    background: linear-gradient(90deg, #0A78CA 0%, #8111BB 100%);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    font-weight: bolder;
    margin: 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    width: 110px;
    height: 40px;
    padding: 0px;
    margin-top: 30px;

}

.none-image-box{
  min-height: 200px;
  max-height: 200px;
  object-fit: contain;
  width: 100%;
    
}

@media screen and (max-width: 100%) {
    .listing-section {
        overflow-x: hidden !important;
    }
    
}


